<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <% if current_user %>
    <h4>Email sent to <%=@order.email%></h4>
    <% end %>
      <% @cart_total = 0 %>
        <% @carts.each do |product_id, quantity| %>
          <%= render 'item', product_id: product_id, quantity: quantity %>
        <h2></h2>
        <% end %>
        <h3>Total: <%=@cart_total%></h3>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
